{
  "$schema": "http://json.schemastore.org/semantic-release",
  "branches": [
    "main",
    "next"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ],
  "tagFormat": "${version}"
}
